.shopping_list {
  list-style: none;
  margin: 0;
  padding: 0; // border-top: 1px solid #d7d2cd;
  li {
    padding: 20px 10px; // border-bottom: 1px solid #d7d2cd;
    display: flex;
    align-items: center;
    position: relative;
    label {
      width: "100%";
      display: block;
      cursor: pointer;
    }

    span {
      display: block;
    }
  }
}

.label_done {
  span {
    text-decoration: line-through;
  }
}

.checkbox_input {
  display: none;
  &:checked {
    +span {
      color: #999;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: rotate(40deg);
        border-bottom: 3px solid #d01137;
        border-right: 3px solid #d01137;
      }
    }
  }
}

.checkbox_label {
  padding-left: 30px;
  position: relative;
  margin-right: 20px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #d7d2cd;
    border-radius: 4px;
  }
}